name: Testing the GitHub Pages publication

on:
  push

jobs:
  jekyll:
    environment: github-pages
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    # Use GitHub Deploy Action to build and deploy to Github
    - uses: jeffreytse/jekyll-deploy-action@v0.3.1
      with:
        provider: 'github'
        token: ${{ secrets.TOKEN_GITHUB }} # It's your Personal Access Token(PAT)
        repository: 'rnbguy/test-gh-pages'             # Default is current repository
        branch: 'gh-pages'         # Default is gh-pages for github provider
        jekyll_src: './'           # Default is root directory
        jekyll_cfg: '_config.yml'  # Default is _config.yml
        jekyll_baseurl: ''         # Default is according to _config.yml
        bundler_ver: '>=0'         # Default is latest bundler version
        cname: 'test.rnbguy.at'                  # Default is to not use a cname
        actor: ''                  # Default is the GITHUB_ACTOR
        pre_build_commands: ''     # Installing additional dependencies (Arch Linux)